<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./styles/layout.css">
        <title><%= navlinksMain[currentUrl] %> | Selise Digital Platforms
        </title>
    </head>
    
<% var whatWeDo = ['/our-services', '/business-functions', '/industry-expertise', '/technology', '/saas'] %>

<body>
    <header>
        <a href="/"><img class="logo-small" src="/images/logo_small.png" alt="logo"></a>
        <nav>
            <ul class="navlinks">
                <li class="<%= currentUrl === '/' ? 'active-navlink' : '' %>"><a href="/">HOME</a></li>
                <li class="<%= currentUrl === '/who-we-are' ? 'active-navlink' : '' %>"><a href="/who-we-are">WHO WE ARE</a></li>
                <li class="<%= whatWeDo.includes(currentUrl)  ? 'active-navlink' : '' %>"><a>WHAT WE DO</a>
                    <ul class="navsublinks">
                        <li class="<%= currentUrl === whatWeDo[0] ? 'active-navlink' : '' %>"><a href=<%= whatWeDo[0] %>>Our Services</a></li>
                        <li class="<%= currentUrl === whatWeDo[1] ? 'active-navlink' : '' %>"><a href=<%= whatWeDo[1] %>>Business Functions</a></li>
                        <li class="<%= currentUrl === whatWeDo[2] ? 'active-navlink' : '' %>"><a href=<%= whatWeDo[2] %>>Industry Expertise</a></li>
                        <li class="<%= currentUrl === whatWeDo[3] ? 'active-navlink' : '' %>"><a href=<%= whatWeDo[3] %>>Technlogy</a></li>
                        <li class="<%= currentUrl === whatWeDo[4] ? 'active-navlink' : '' %>"><a href=<%= whatWeDo[4] %>>Saas</a></li>
                    </ul>
                </li>
                <li><a>INSIGHTS</a></li>
                <li><a>WORKING AT SELISE</a></li>
                <li class="<%= currentUrl === '/contact-us' ? 'active-navlink' : '' %>"><a href="/contact-us">CONTACT US</a></li>
            </ul>
        </nav>
        <div class="language">EN</div>
    </header>